html{
    scroll-behavior: smooth;
}

ul{
    float:right;
    display:flex;
    list-style: none;
    margin-right: 20px;
}
li,a{
    text-decoration: none;
    
}
.navbar,li{
    margin-right: 20px;
    margin-top: 5px;
}
a:hover{
    background-color:gray;
}
#about,h1{
    margin-top: -45px
}
#settings{
    height: 200px;
    color: black;
}
#abouticon{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}
#cubesicon{
    margin-top: 20px;
}
#desktopicon{
    margin-top:30px;
}
#flyicon{
    margin-top:30px;
}
#h1,{
    font-size: 100pt;
    margin-top: -40px;
}
#jobs:before{
    content:'';
    animation: animate infinite 8s;
    font-size: 30pt;
}
@keyframes animate{
    0%{
        content: '{Freelancer}';
    }
    20%{
        content: '{Designer}';
    }
    40%{
        content:'{Technician}'
    }
    60%{
        content: '{Developer}'
    }
    80%{
        content: '{Graphic Artist}'
    }
    100%{
        content: '{Gamer}'
    }   
}
p{
    font-size: 20pt;
}
.rounded{
    border-top: 8px solid black;
    border-radius:5px;
    width: 35%;
    margin-left:500px;
}
#stickynav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#Skillbar{
    display: flex;
    margin-bottom: -50px;
}
#homebtn{
    ma
}